.container{
    height: 600px;
    width: 800px;
    background-color: aquamarine;
    display: flex;
    gap: 20px;

    align-items: center;
    /* align-items: end; */
    /* align-items: start; */

    justify-content: center;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */

    /* flex-direction: row; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;

    align-content: center;
    /* align-content: start; */
    /* align-content: end; */

}

.box{
    height: 100px;
    width: 200px;
    background-color: blue;


}