*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    color: white;
    padding: 15px;
}

.logo{
  cursor: pointer;
}

.menu{
    display: flex;
    gap: 50px;

}

.menu a{
    text-decoration: none;
    color: white;
}


.hamburger{
    display: none;
    font-size: 25px;
    cursor: pointer;
}

#toggle{
    display: none;
}

@media (max-width: 767px) {
    .menu{
        display: none;
        flex-direction: column;
        background-color: black;
        position: absolute;
        top: 60px;
        right: 0px;
        width: 100%;
    }
    #toggle:checked  + .hamburger + .menu{
        display: flex;
    }
    .hamburger{
        display: block;
    }
}